@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --azul-escuro: #26333D;
    --texto: #26333D;
    --cor-destaque: #2FD6CB;
    --fundos: #E9F0EF;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: var(--texto);
}

html {
    scroll-behavior: smooth;
}
.cabecalho{
background-color: var(--azul-escuro);

    display: flex;
    /* Por padrão o flex vem na direção row/linha */
    justify-content: space-between;
    padding: 0 120px;
    height: 10vh;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;

}
.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}